<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello GrabCikgu!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <style>

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .sidenav a {
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .main {
            margin-left: 200px; /* Same as the width of the sidenav */
        }

        @media screen and (max-height: 450px) {
          .sidenav {padding-top: 15px;}
          .sidenav a {font-size: 18px;}
        }
        </style>
  </head>

  <body>
      <!-- /NAVIGATION BAR -->
        <!--//
          <div class="sidenav">
            <a href="/users">Home</a>
            <a href="/manage/profiles">Profile</a>
            <a href="#">Class</a>
            <a href="#">Message</a>
            <a href="#">Account</a>
          </div>
        //-->
      <!-- /NAVIGATION BAR ENDS-->
    <div class="container-fluid">
      <div class="header">
        <ol class="breadcrumb text-right">
          <%= if @current_user do %>
            <li><%= @current_user.username %></li>
            <li>
              <%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete" %>
            </li>
          <% else %>
            <li><%= link "Register", to: user_path(@conn, :new) %></li>
            <li><%= link "Log in", to: session_path(@conn, :new) %></li>
          <% end %>
        </ol>
      </div> <!-- /header -->

      <div class="container">
        <header class="header">
          <nav role="navigation">
            <ul class="nav nav-pills pull-right">
              <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
            </ul>
          </nav>
          <span class="logo"></span>

        </header>

        <%= form_for @conn, search_path(@conn, :index), [name: :search], fn f -> %>
          <%= text_input f, :query %>
          <%= submit "Search" %>
        <% end %>

        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>





      </div> <!-- /container -->
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>



  </body>
</html>
